<section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
        <p>I am doing development on insurace & financial projects , implemented rating engine to calculate premium based on given factor as per rater with the help of N Rule engine and 
            evaluating refferal as per give rules , contract management system , reinsurance etc.
        </p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1"
              class="purecounter">6</span>
            <p><strong>Happy Clients</strong> with my work</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1"
              class="purecounter">8</span>
            <p><strong>Projects</strong> successfully completed</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1080" data-purecounter-duration="1"
              class="purecounter">1080</span>
            <p><strong>Hours Of Support</strong> on live projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
              class="purecounter">7</span>
            <p><strong>Max Team Size</strong>  for big project</p>
          </div>
        </div>

      </div>

    </div>
  </section>