<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>With a track record of numerous triumphant projects for clients spanning the globe, your optimal decision lies in onboarding dedicated developer</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>A77 Sector-122, Noida, UP 201307</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>{{email}}</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 9917906036</p>
            </div>

          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form  [formGroup]="contactForm" novalidate (submit)="sendEmail(contactData)" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" formControlName="name" [ngClass]="{'required': submitted && contactForm.controls['name'].invalid }" [(ngModel)]="contactData.name" required> 
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" formControlName="email" [ngClass]="{'required': submitted && contactForm.controls['email'].invalid }" [(ngModel)]="contactData.email" required> 
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" formControlName="subject" [ngClass]="{'required': submitted && contactForm.controls['subject'].invalid }" [(ngModel)]="contactData.subject" required> 
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control"  rows="10" formControlName="messgae" [ngClass]="{'required': submitted && contactForm.controls['messgae'].invalid }" [(ngModel)]="contactData.messgae" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section>