<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="../assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="https://www.linkedin.com/in/pankaj-kumar-384051106" target="_blank">Pankaj Kumar</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://www.linkedin.com/in/pankaj-kumar-384051106" target="_blank" class="linkedin"><i
          class="bx bxl-linkedin"></i></a>
        <a href="https://www.hackerrank.com/profile/PankajKumar28" target="_blank" class="certification"><i class="bx bxs-certification"></i></a>
        <a href="https://github.com/PankajKumar28" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        <a href="skype:gt.pankaj" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.facebook.com/pankaj.kumarsaini.393" target="_blank" class="bx bxl-facebook"><i class="bx bxl-"></i></a>
       
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Skills</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>     
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="home" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Pankaj Kumar</h1>
    <p>I'm <span class="typed" data-typed-items="Software Developer,.Net Developer, Tech Lead"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <app-about></app-about>

  <app-fact></app-fact>

  <app-skill></app-skill>
  <app-resume></app-resume>

  <!-- <app-portfolio></app-portfolio> -->

<app-services></app-services>

<app-testimonial></app-testimonial>

 <app-contact></app-contact>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>{{todayYear}}</span></strong>
    </div>
    <div class="credits">
      Pankaj Kumar
    </div>
  </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>