<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My roles and responsibilities are handing complex designing(coding), preparing POC, assigning work to team members, review code, coding and coordinating with onshore team members. Deploying build on production environment. We are proving rating,reporting , risk anlizing for various line of business for different-2 carriers</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Marine Insurance</a></h4>
          <p class="description">Genrating quick quote,premium , underwriter review , for yacht for navigation,mooring.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-buildings"></i></div>
          <h4 class="title"><a href="">Property Insurance</a></h4>
          <p class="description">Covering Building for a location of constrcuted or under construction building for different coverage and perils.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Health Insurance</a></h4>
          <p class="description">A person Medical , Health insurance with his/her dependents.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Cyber Insurance</a></h4>
          <p class="description">Cyber risk coverage</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">ReInsurance</a></h4>
          <p class="description">Submission reinsurance under a contract between carrier's participation.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Claim Management</a></h4>
          <p class="description">claim reporting to carrier with recovery,damage,subrogation etc.</p>
        </div>
      </div>

    </div>
  </section>